.navbar {
    margin: 2em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
  }

.header {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: right;
    border: 2px;
    border-radius: 2px;
}

.leftalign {
    margin-right: auto; 
    margin-left: 0;
}
  
.pfp {
    margin-right: 1em;
    border-radius: 24%;
}

.currentPage {
    text-decoration: solid underline 1.5px;
    text-underline-offset: 2.5px;
}