
/*==========================
BASIC STRUCTURE
==========================*/
#wrapper {
	width: 960px;
	padding: 5px;
	margin: 20px auto;
}
#header {
	height:100px;
}
#sidebar {
	float: left;
	width: 300px;
}
#content {
	float: right;
	width: 600px;
}
#footer {
	clear: both;
}
/*================================================
COLORS AND FONTS
color.adobe.com

#7A91B2
#87B8FF
#D1E4FF
#B29C6E
#FFEFD1
================================================*/
body {
	/*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";*/
	font-family: 'Actor'; font-size = 24px;
	color: #24292e;
	background-color: #FFE8BA;
	/*text color ^ */
	/*background-color: #B29C6E;*/
	/*background-image: url("../images/background.jpg");*/

	/*can change later*/
	/*darren yao's*/
	/*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	    font-size: 14px;
	    line-height: 1.5;
	    color: #24292e;
	    background-color: #fff;*/

}

h2 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 36px;
}

#header, #sidebar, #content, #footer {

	/*background-color: #FFEFD1;*/
	background-color:rgba(255,239,209,0.20);
	margin-bottom: 4px;
	border: double;
	border-radius: 8px;
	border-color: grey;
	padding-left: 4px;
	padding-right: 4px;
}

/*=========================================
RESPONSIVE DESIGN
=========================================*/
@media screen and (max-width: 980px) {
	#wrapper {
		width : 94%;
	}
	#content {
		width : 65%;
	}
	#sidebar {
		width: 30%;
	}
}
@media screen and (max-width: 700px) {
	#content, #sidebar {
		width: auto;
		float: none;
	}
	#header {
		height: auto;
	}
}
@media screen and (max-width: 480px) {
	#h1 {
		font-size: 24px;
	}

}
/*=========================================
Phones
=========================================*/
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 568px) {
		body {
			font-size: 40px
		}
		#header {
			height: auto;
		}
		#content {
			width: auto;
		}
		#sidebar {
			width: auto;
			clear: both;
		}
		#header, #sidebar, #content, #footer {
			border-radius: 16px;
			border-width: 8px;
		}
}
